<html>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="container">

<ul class="nav">
  {% for pair in pairs %}
    <li class="nav-item">
      <a class="nav-link active" href="?pair={{ pair }}">{{ pair }}</a>
    </li>
  {% endfor %}
</ul>
  <div class="row">
    <div class="col">
      <blockquote class="blockquote text-center">
        <p class="mb-0"> bids.</p>
      </blockquote>
        <table id="example" class="display">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Bid Price</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
              {% for bid in bids %}
                <tr>
                    <td>{{ bid.amount }}</td>
                    <td>{{ bid.price }}</td>
                    <td>{{ bid.userid }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
      <blockquote class="blockquote text-center">
        <p class="mb-0"> asks.</p>
      </blockquote>
        <table id="example2" class="display">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Ask Price</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
              {% for ask in asks %}
                <tr>
                    <td>{{ ask.amount }}</td>
                    <td>{{ ask.price }}</td>
                    <td>{{ ask.userid }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
<script> 
$(document).ready(function() {
    $('#example').DataTable({"searching": false, "paging":false});
} );
$(document).ready(function() {
    $('#example2').DataTable({"searching": false, "paging":false});
} );
</script>
</html>
