<html>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="container">
  <div class="row">
    <div class="col">
        <table id="example" class="display">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Bid Price</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <table id="example2" class="display">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Ask Price</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
<script> 
$(document).ready(function() {
    $('#example').DataTable({"searching": false, "paging":false});
} );
$(document).ready(function() {
    $('#example2').DataTable({"searching": false, "paging":false});
} );
</script>
</html>
