<html>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="container">

<ul class="nav">
  {% for pair in pairs %}
    <li class="nav-item">
      <a class="nav-link active" href="?pair={{ pair }}">{{ pair }}</a>
    </li>
  {% endfor %}
</ul>
  <div class="row">
    <div class="col">
      <h3 id="placeOrderHeading"></h3>

      <form id="orderForm">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputamount">Amount</label>
            <input name="amount" type="number" class="form-control" id="inputamount" placeholder="200.00">
          </div>
          <div class="form-group col-md-3">
            <label for="inputprice">Price</label>
            <input name="price" type="number" class="form-control" id="inputprice" placeholder="0.012">
          </div>
          <div class="form-group col-md-3">
            <label for="inputState">Side</label>
            <select name="side" id="inputState" class="form-control">
              <option selected>bid</option>
              <option>ask</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputuser">User</label>
            <input name="user_id" type="number" class="form-control" id="inputuser" value="1234">
          </div>
          <input name="pair" id="inputpair" type="hidden">
        </div>
      </form>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary" onclick="submit();">Place Order</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <blockquote class="blockquote text-center">
        <p class="mb-0"> bids.</p>
      </blockquote>
        <table id="example" class="display">
            <thead>
                <tr>
                    <th>S no</th>
                    <th>Amount</th>
                    <th>Bid Price</th>
                    <th>User</th>
                    <th> Order id</th>
                </tr>
            </thead>
            <tbody>
              {% for bid in bids %}
                <tr>
                    <td> {{ loop.index }}</td>
                    <td>{{ bid.amount }}</td>
                    <td>{{ bid.price }}</td>
                    <td>{{ bid.userid }}</td>
                    <td>{{ bid.orderid }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
      <blockquote class="blockquote text-center">
        <p class="mb-0"> asks.</p>
      </blockquote>
        <table id="example2" class="display">
            <thead>
                <tr>
                    <th> S no </th>
                    <th>Amount</th>
                    <th>Ask Price</th>
                    <th>User</th>
                    <th> Order id</th>
                </tr>
            </thead>
            <tbody>
              {% for ask in asks %}
                <tr>
                    <td> {{ loop.index }}</td>
                    <td>{{ ask.amount }}</td>
                    <td>{{ ask.price }}</td>
                    <td>{{ ask.userid }}</td>
                    <td> {{ ask.orderid }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
<script> 
$(document).ready(function() {
    $('#example').DataTable({"searching": false, "paging":false});
} );
$(document).ready(function() {
    $('#example2').DataTable({"searching": false, "paging":false});
} );

var url_string = window.location.href; //window.location.href
var url = new URL(url_string);
var pair = url.searchParams.get("pair");

$('#placeOrderHeading').text("Place An Order for pair: " + pair);
$('#inputpair').val(pair)


function submit() {
    var raw_data = $('#orderForm').serializeArray()

    var data = raw_data.reduce(function(acc, cur, i) {
        acc[cur["name"]] = cur["value"];
        return acc;
    }, {});

    $.ajax({
        type: 'post',
        contentType: 'application/json',
        dataType: 'json',
        url: '/orders/',
        data: JSON.stringify(data),
        success: function(a, b, c) { window.location.reload(); },
        error: function(a, b, c) {alert('ERROR: ' + a.responseJSON.error)}
    })
}

</script>
</html>
